---
// IMPORTS
import type { Multi } from "@types";
import BaseHead from "@components/BaseHead.astro";
import { site } from "@i18n/sections";
import { languages, defaultLang } from "@i18n/ui";
import { sanitizeRoutes } from "@i18n/utils";

// ACTIONS
const locale: keyof Multi = defaultLang;
---

<!doctype html>
<html lang={locale}>
  <head>
    <BaseHead
      title={site.title[locale]}
      description={site.description[locale]}
      locale={locale}
    />
  </head>
  <body>
    <main class="welcome">
      <ul class="language-picker">
        {
          Object.entries(languages).map(([lang, label]) => (
            <li aria-label={label}>
              <a href={sanitizeRoutes(`/${lang}/`)}>{label}</a>
            </li>
          ))
        }
      </ul>
    </main>
  </body>
</html>
