---
// IMPORTS
// Components
import BaseHead from "@components/BaseHead.astro";

// Config & content
import { SITE } from "@i18n/sections";
import { languages, defaultLang } from "@i18n/ui";
import { sanitizeRoutes } from "@i18n/utils";

// TYPES
import type { Multi } from "@types";

// FUNCTIONS & ACTIONS
const LOCALE: keyof Multi = Astro.currentLocale || defaultLang;
---

<!doctype html>
<html lang={LOCALE}>
  <head>
    <BaseHead
      title={SITE.TITLE[LOCALE]}
      description={SITE.DESCRIPTION[LOCALE]}
    />
  </head>
  <body>
    <main class="welcome">
      <ul class="language-picker">
        {
          Object.entries(languages).map(([lang, label]) => (
            <li>
              <a href={sanitizeRoutes(`/${lang}/`)}>{label}</a>
            </li>
          ))
        }
      </ul>
    </main>
  </body>
</html>
