---
// IMPORTS
// Components
import FormattedDate from "@components/FormattedDate.astro";

// FUNCTIONS & ACTIONS
const { post } = Astro.props;
---

<li>
	<a href={`/${post.collection}/${post.slug}/`}>
		<img width={720} height={360} src={post.data.heroImage} alt="" />
		<h2 class="title">{post.data.title}</h2>
		<p class="date">
			<FormattedDate date={post.data.pubDate} />
		</p>
	</a>
</li>