---
import MainNavLangs from "./MainNavLangs.astro";
import HeaderLink from "./HeaderLink.astro";
import { site } from "@i18n/sections";
import { navLinks, listOfCollections } from "@i18n/ui";
import { sanitizeRoutes } from "@i18n/utils";

// ACTIONS
// Get locale
const { locale } = Astro.props;

const links = navLinks.filter((link) => link.languages.includes(locale));
---

<header>
	<nav>
		<div class="logoname">
			<h2>
				<a href={"/" + locale + "/"}>
					{site.title[locale]}
				</a>
			</h2>
		</div>
		<div class="internal-links">
			{
				links.map((link) => (
					<HeaderLink
						href={
							listOfCollections.includes(link.text.toLowerCase())
								? sanitizeRoutes(`${link.href}/${locale}/`)
								: sanitizeRoutes(`/${locale}/${link.href}`)
						}
					>
						{link.text}
					</HeaderLink>
				))
			}
		</div>
		<div class="language-picker">
			<MainNavLangs locale={locale} />
		</div>
	</nav>
</header>
