---
// IMPORTS
import BaseLayout from "@layouts/BaseLayout.astro";
import FormattedDate from "@components/FormattedDate.astro";
import { site } from "@i18n/sections";

// ACTIONS
// Get props, incl. locale
const { title, description, locale, pubDate, updatedDate, heroImage } =
	Astro.props;
---

<BaseLayout
	title={site.title[locale]}
	description={description}
	pageTitle={title}
	locale={locale}
	heroImage={heroImage}
>
	<article class="blogpost">
		
		<div class="hero-image">
			{heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
		</div>

		<div class="prose">
			<div class="title">
				<div class="date">
					<FormattedDate date={updatedDate ? updatedDate : pubDate} />
				</div>
				<h1>{title}</h1>
			</div>
			<slot />
		</div>
	</article>
</BaseLayout>
