---
// IMPORTS
import BaseLayout from "./BaseLayout.astro";

// ACTIONS
const { title, description, pageTitle, locale, heroImage } = Astro.props;
---

<BaseLayout
	title={title}
	description={description}
	pageTitle={title}
	locale={locale}
	heroImage={heroImage}
>
	<div class="hero-image">
		{heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
	</div>

	<div class="title">
		<h1>{pageTitle}</h1>
	</div>
	<slot />
</BaseLayout>
